{% extends 'classifier/base.html' %}
{% load static %}


{% block javascript %}
    {# Ne charge pas app.js #}
    <script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock %}
 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block content %}
{% include 'classifier/messages.html' %}
<div class="auth-container">
    <div class="floating-elements">
        <div class="floating-element"></div>
        <div class="floating-element"></div>
        <div class="floating-element"></div>
    </div>
    
    <h2 class="auth-title">Change password</h2>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="post" class="auth-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="error-message">{{ form.old_password.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="error-message">{{ form.new_password1.errors }}</div>
            {% endif %}
            {% if form.new_password1.help_text %}
                <div class="help-text small">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="error-message">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
        
        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        
        <button type="submit" class="auth-btn">Update password</button>
    </form>
    
    <div class="auth-links">
        <a href="{% url 'accounts:profile' %}" class="auth-link">Back to profile</a>
    </div>
</div>
{% endblock %}